* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
}
 

body {  
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: rgb(28, 27, 32);
      
}


.backgound-video {
    width: 100vw;
    max-height: 100vh;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
    
}

@media (min-aspect-ratio: 16/9) {
    .backgound-video {
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9) {
    .backgound-video {
        width: auto;
        height: 100%;
    }
}


/* ------------ HEADER ------------ */ 

header {
    text-align: center;
    margin: 0 auto;
    padding: 1em 0;
    max-width: fit-content;
    height: 8vh;
    
}

.logo img {
    height: 8vh;
    margin: 2em 2em 10em 2em;
}

.logo-light img { 
    position: absolute;
    top: 0;
    left: 0;
    margin: 1em;
    width: 12vw;
    
}

nav { 
    border: 1px solid white;
    border-style: none none solid none;
    padding-bottom: 1em;
}

nav li {
    display: inline;
    margin: 1em;
}

nav a {
    text-decoration: none;
    color: #ffffff;
    margin: 1em;
}

/* ------------ MAIN PAGE ------------ */ 

main {
    min-height: 75vh;
    color: white;
}

.home-section { 
    width: 80vw;
    margin: 12em auto;
    text-align: center;
}

section {
    width: 80vw;
    margin: 1em auto;
    text-align: center;
}




.butn1 {
    color: black;
    text-decoration: none;
    display: inline-block;
    font-size: 2em;
    padding: 10px 20px;
    margin: 1em;
    border: 2px solid #000000;
    border-radius: 10px; /* Rounded border */
    background-color: transparent; /* Transparent background */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Shadow effect */
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s; /* Smooth transitions */
}

      
a.butn1:hover {
    background-color: #000000; /* Change background color on hover */
    color: #fff; /* Change text color on hover */
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2); /* Change shadow on hover */
    transform: translateY(-4px); /* Lift the button slightly on hover */
}


h1 {
    color: rgb(255, 255, 255);
    font-size: 2em;
    font-weight: 800;
    padding: 1rem;
    margin-bottom: 1em;
}


h2 {
    font-size: 2em;
    color: #ffffff;
    font-weight: 300;
}

.txt-home{

    color: black;
    font-size: 2.5em;
    font-weight: 400;
}


/* ------------ FOOTER ------------ */ 

h3 { 
   
    text-align: center;
    font-size: 1em;   
}

footer { 
    margin: 1em auto 1em auto;
    min-height: 10vh;
    width: fit-content;
    color: white;
   
    
}

.nav-footer {
    
    margin: 1em auto;
    text-align: center;
    border: 1px solid white;
    border-style: none none solid none;

}

.nav-footer a { 
    color: white;
}



/* ------------ FOTOGRAFIE PAGE ------------ */ 


.content-container {
    width: 70VW;
    display: flex;
    justify-content: space-around;
    background-color: rgb(57, 55, 64);
    padding: 1em;
    border-radius: 50px;
    box-shadow: inset 0 0 30px 80px rgb(28, 27, 32);
    

}
.container-foto {
    width: 100%;
    
}

.content-foto {
    perspective: 3000px;
    width: 50%;
    position: relative ;
    left: 50%;
    top:50%;
    margin-left: 3em;
    transform: translate(-50%, -50%);
    transform-style: preserve-3d;
}

.container-foto img {
    transform: rotateX(70deg) rotateZ(-60deg) translate3d(-120px, 0px, 60px) scale(1.2, 1.2);
    box-shadow: -80px 60px 15px 5px rgba(0,0,0,0.4);
    transition: all .4s;
    transform-style: preserve-3d;
  }
  .container-foto:hover img {
    transform: rotateX(0deg) rotateZ(0deg) translate3d(0px, 0px, 0px) scale(2, 2);
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.0);
  }
  

.content-txt { 
    max-width: 50%;
    padding: 1em;
    display: flex;
    justify-content: space-evenly; /* Horizontale centrering */
    align-items: center;     /* Verticale centrering */
    height: 400px;           /* Stel de hoogte in op de gewenste waarde */
}

.content-container img { 
    max-width: 80%;
    max-height: 500px;
    margin-left: 4em;
}

h4 {
    font-size: 1.5em;
    margin-right: 4em;
    font-weight: 200;
    
}


/* ------------ VIDEO PAGE ------------ */ 


.content-video {
    max-height: 350px;
    max-width: 100%;
    margin-left: 4em;
}

.content-video video {
    max-width: 100%;
    max-height: 350px;
}

/* ------------ WieBenIk PAGE ------------ */ 

.ik-background {
    width: 100vw;
    max-width: 100%;
    max-height: 100vh;
    position: absolute;
    object-fit: fill;
    right: 0;
    top: 0;
    z-index: -1;
}

h5 {
    font-size: 2em;
    color: #ffffff;
    font-weight: 300;
    padding: 1em 5em;
    margin-bottom: 1em;
}

/*  Rollover image styles  */
.figure {
    position: relative;
    width: 360px; /* can be omitted for a regular non-lazy image */
    max-width: 100%;
    margin: 0 auto;
    
  }

.Sirv {
    max-width: 20vw;
   
}

  .figure img.Sirv.image-hover {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    opacity: 0;
    transition: opacity .5s;
    margin: 0 auto;
  }
  .figure:hover img.Sirv.image-hover {
    opacity: 1;
    margin: 0 auto;
  }

  /* ------------ VIDEO PAGE ------------ */
  